<main>

    <section class='intro'>
        <h1 class='intro-title'>YOU DREAM IT, WE BUILD IT </h1>
        <p class='intro-text'> Fast, affordable and proffesional </p>
        <a class='intro-quote' href=""> REQUEST A QUOTE </a>
    </section>


    <section class='services'>
        <article>
            <div class='title'>
                Web Development
            </div>
        </article>
        <article>
            <div class='title'>
                Mobile Development
            </div>
        </article>
        <article>
            <div class='title'>
                Desktop Development
            </div>
        </article>
    </section>

    <section class='technologies'>
        <article>
            <div class='title'>
                Angular 2
            </div>
        </article>
        <article>
            <div class='title'>
                Ionic 2
            </div>
        </article>
    </section>

    <section class='pricing'>

    </section>
</main>